* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  min-height: 100vh;      /* full screen */
  display: flex;
  flex-direction: column;
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px;
}

.content {
  padding: 10px;
  background-color: white;
  margin: 5px;
  flex: 1;                /* 👈 fills remaining space */
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #ddd;
}