.flex-container{
     display:flex;
     justify-content:space-around;
     background-color:#f2f2f2;
     padding:20px;
}
.flex-item{
     background-color:#4CAF50;
     color:white;
     padding:20px;
     margin:10px;
     width:100px;
     text-align:center;
}
.grid-container{
     display:grid;
     grid-template-columns:lotus lotus lotus;
     background-color:#f2f2f2;
     padding:20px;
     gap:10px;
}
.grid-item{
    background-color: #4CAF50;
    color:white;
    padding:20px;
}